* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
h1 {
  text-transform: capitalize;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.title {
  text-transform: capitalize;
  margin: auto 10px;
  font-size: 2.4rem;
  font-family: 'Courier New', Courier, monospace;
}

.nav-links {
  margin: auto 15px;
  display: none;
}

.links li {
  display: inline-block;
  margin: 0 5px;
}

.links li a {
  color: black;
  text-decoration: none;
  letter-spacing: 2px;
}

.nav-logo a i {
  color: black;
}

.nav-logo a i:hover {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
  transform-origin: center;
}

.home-img {
  height: auto;
  width: 80vw;
  display: block;
  padding-top: 5rem;
  margin: auto;
}
.img-container {
  /* margin: 0 auto; */
  position: relative;
  align-items: center;
  height: auto;
}

.home-bg {
  width: 110vw;
  top: -150px;
  left: -40px;
  z-index: -2;
  position: absolute;
  overflow: hidden;
}

.home-content p {
  width: 85%;
  margin: 3rem auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}
.home-content {
  text-align: center;
}

.home-content button {
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 15px;
  border: none;
  background-color: aqua;
  font-weight: 500;
  font-size: medium;
}

.home-page {
  height: 120vh;
}
.active-sites-title {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.site-card {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
  background-color: antiquewhite;
  border-radius: 15px;
  /* padding: 2.5rem; */
  width: 90%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.site-card img {
  width: 80%;
  height: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.site-card-content {
  width: 60%;
  margin-top: 1.5rem;
  /* margin-bottom: 1.5rem; */
  margin-bottom: 1rem;
  text-align: left;
}
.site-card-content button {
  padding: 12px 35px;
  border-radius: 15px;
  margin-top: 2rem;
  border: none;
  background-color: rgb(5, 23, 219);
  font-weight: 700;
  font-size: medium;
  color: white;
  cursor: pointer;
  margin-left: 9rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.site-card-content h2 {
  margin-bottom: 2rem;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  /* margin-right: 2rem; */
  margin-left: 1rem;
  /* padding: 0 1.5rem; */
  text-align: left;
}

.site-card progress {
  margin-top: 2rem;
  margin-right: 1rem;
}

.site-card-content span {
  /* margin-left: 1rem; */
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
}
.site-location {
  margin-left: 1rem;
}
.site-card span {
  margin-top: 2rem;
  margin-right: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
}
.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 2rem;
  margin-left: 2rem; */
}
.outer {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding: 12.5px;
  margin: auto 1rem;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(225, 225, 225, 0.7);
}

.inner {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(225, 225, 225, 0.7),
    -0.5px -0.5px 0px rgba(225, 225, 225, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
  font-weight: 600px;
  font-size: large;
  color: #555;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 10px;
  stroke-dasharray: 472;
  stroke-dashoffset: 0;
  animation: progress 2s linear forwards;
}

svg {
  position: absolute;
}

@keyframes progress {
  0% {
    stroke-dashoffset: 472;
  }
  100% {
    stroke-dashoffset: 165;
  }
}
